/* */

.SiteWrapper {
  margin: 0 auto;
  max-width: 1080px;
  padding: 0 25px;
  width: 100%;
}

.Home {
  margin: 0 auto;
  max-width: 640px;
}

.Home h1 {
  text-align: center;
}

.WeatherInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.WeatherInfo_Image {
  flex-basis: 50%
}

.WeatherInfo_Data .CurrentTemperature .CurrentTemperatureTemp {
  font-size: 140px;
  font-weight: bold;
  line-height: 140px;
  margin: 0; /* bypass user agent stylesheet */
}

.WeatherInfo_Data .CurrentTemperature .CurrentTemperatureLabel {
  margin: 0;
  font-weight: bold;
  text-transform: uppercase;
}

.OtherTemperatures p {
  font-size: 24px;
  line-height: 35px;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.CitiesNav {
  display: flex;
}

.CitiesNav a {
  border-bottom: 1px solid transparent;
  display: block;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transition: border-bottom 200ms ease;
  
}

.CitiesNav a:hover{
  border-bottom: 1px solid black;
}
.CitiesNav .active {
  color: green;
}

.WeatherInfo_Image {
  flex-basis: 50%;
  font-size: 100px;
}